<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/home1.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>

    <div id="home">
        <div id="but">
            <a href="#home"><input class="btn1" type="button" value="HOME"></a>
            <a href="#about"><input class="btn1" type="button" value="ABOUT US"></a>
            <a href="#contact"><input class="btn1" type="button" value="CONTACT US"></a>
        </div>
        <div class="img">
            <img src="static/images/image.jpg" width="100%" height="780px">
            <div id="passage">
                <h2><i id="i">SUCCESS ISN'T JUST ABOUT WHAT YOU ACCOMPLISH IN YOUR LIFE; IT'S ABOUT WHAT YOU INSPIRE OTHERS TO DO.</i></h2>

            </div>
        </div>
        <div id="about">
            <h2>ABOUT US</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse tempora quia id rem at veniam dolorem nostrum possimus consequatur quos odit magnam aut ratione eligendi nesciunt nihil veritatis rerum laudantium voluptatum, sunt excepturi repellendus
                inventore quae. Repudiandae quo illum libero. Esse tempora cupiditate corrupti porro, nobis officia deleniti! Repellat, non? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eligendi a quo error et rem, sint inventore est.
                Voluptas, eum quasi! Doloribus magni expedita itaque dignissimos, impedit sequi eaque dolore?</P>
        </div>
        <div id="contact">
            <h2>CONTACT US</h2>
            <p>ph no: 9896644545</p>
            <p>email: ut@gmail.com</p>
            <p>yahoo: hghyg@yahoo.com</p>
            <p>twitter: nuy@twitter.com</p>
            <p>address: nagar villa,kasargode,kerala,657857</p>
            <br><br>
        </div>
    </div>
</body>

</html>